.mat-mdc-card {
  &.daxa-card {
    &.all-projects-card {
      .mat-mdc-card-content {
        margin: {
          left: -20px;
          right: -20px;
        };
        .all-projects-table {
          .mat-mdc-table {
            .mat-mdc-header-cell {
              &:last-child {
                text-align: right;
              }
            }
            .mat-mdc-cell {
              &:last-child {
                text-align: right;
              }
            }
            .daxa-badge {
              color: var(--daxaColor);
              background: rgba(15, 121, 243, 0.10);

              &.in-progress {
                color: var(--warningColor);
                background: rgba(241, 179, 28, 0.10);
              }
              &.pending {
                color: var(--successColor);
                background: rgba(46, 212, 126, 0.10);
              }
              &.not-started {
                color: var(--dangerColor);
                background: rgba(231, 76, 60, 0.10);
              }
            }
            .team-members-list {
              img {
                width: 42px;
                border-radius: 50%;
                margin-right: -13px;
                border: 2px solid var(--whiteColor);

                &:last-child {
                  margin-right: 0;
                }
              }
            }
            .mat-mdc-progress-bar {
              --mdc-linear-progress-active-indicator-height: 5px;
              --mdc-linear-progress-track-height: 5px;
              margin-left: 10px;
              width: 90px;

              &.inProgress {
                --mdc-linear-progress-active-indicator-color: var(--warningColor);
              }
              &.pending {
                --mdc-linear-progress-active-indicator-color: var(--successColor);
              }
              &.notStarted {
                --mdc-linear-progress-active-indicator-color: var(--dangerColor);
              }
            }
            .mat-mdc-row {
              cursor: pointer;

              &:first-child {
                .mat-mdc-cell {
                  border-top: 1px dashed #e0e0e0;
                }
              }
              &:hover {
                .mat-mdc-cell {
                  background-color: #131920;
                }
              }
            }
          }
        }
      }
      &.component-dark-theme {
        .mat-mdc-card-content {
          .emails-table {
            .mat-mdc-table {
              .mat-mdc-row {
                &:first-child {
                  .mat-mdc-cell {
                    border-color: rgba(255, 255, 255, 0.09);
                  }
                }
                &:hover {
                  .mat-mdc-cell {
                    background-color: #131920;
                  }
                }
              }
            }
          }
        }
      }
      &.rtl-enabled {
        .mat-mdc-card-content {
          .all-projects-table {
            .mat-mdc-table {
              .mat-mdc-header-cell {
                &:last-child {
                  text-align: left;
                }
              }
              .mat-mdc-cell {
                &:last-child {
                  text-align: left;
                }
              }
              .team-members-list {
                img {
                  margin: {
                    right: 0;
                    left: -13px;
                  };
                  &:last-child {
                    margin-left: 0;
                  }
                }
              }
              .mat-mdc-progress-bar {
                margin: {
                  left: 0;
                  right: 10px;
                };
              }
            }
          }
        }
      }
    }
  }
}
::ng-deep {
  .mat-mdc-card {
    &.daxa-card {
      &.all-projects-card {
        .mat-mdc-card-content {
          .all-projects-table {
            .mat-mdc-paginator {
              padding: {
                top: 15px;
                left: 20px;
                right: 20px;
              };
            }
          }
        }
      }
    }
  }
}

::ng-deep {
  .add-new-project-popup {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 999;
    position: fixed;
    transition: .3s;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: {
      x: hidden;
      y: auto;
    };
    .popup-dialog {
      display: flex;
      transition: .3s;
      max-width: 70%;
      align-items: center;
      transform: translate(0, -20px);
      min-height: calc(100% - 1.75rem * 2);
      margin: {
        left: auto;
        right: auto;
        top: 25px;
      };
      .daxa-card {
        width: 100%;

        .mat-mdc-card-header {
          border-bottom: 1px solid #eeeeee;
          margin: {
            left: -20px;
            right: -20px;
          };
          padding: {
            left: 20px;
            right: 20px;
            bottom: 18px;
          };
          .mat-mdc-card-subtitle {
            .mat-mdc-button {
              padding: 0;
              height: auto;
              line-height: 1;
              min-width: auto;
              display: inline-block;
              font-size: 23px !important;
            }
          }
        }
        .mat-mdc-card-content {
          .main-label {
            margin-bottom: 12px;
            font-size: 15px;
          }
          .mat-mdc-form-field {
            margin-bottom: 25px;
          }
          .btn-box {
            text-align: right;

            .mat-mdc-button {
              border: 0;
              height: auto;
              min-width: auto;
              min-height: auto;
              padding: 14px 35px;
              font-weight: normal;
              color: var(--whiteColor);
              font-size: 15px !important;
              background-color: var(--daxaColor);

              &:first-child {
                margin-right: 10px;
                background-color: var(--dangerColor);
              }
            }
          }
        }
      }
    }
    &.active {
      opacity: 1;
      visibility: visible;

      .popup-dialog {
        transform: none;
      }
    }
    &.rtl-enabled {
      .popup-dialog {
        .daxa-card {
          .mat-mdc-card-content {
            .btn-box {
              text-align: left;

              .mat-mdc-button {
                &:first-child {
                  margin: {
                    right: 0;
                    left: 10px;
                  };
                }
              }
            }
          }
        }
      }
    }
  }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

  .mat-mdc-card {
    &.daxa-card {
      &.all-projects-card {
        .mat-mdc-card-content {
          margin: {
            left: -15px;
            right: -15px;
          };
        }
      }
    }
  }
  ::ng-deep {
    .mat-mdc-card {
      &.daxa-card {
        &.all-projects-card {
          .mat-mdc-card-header {
            .mat-mdc-card-header-text {
              display: block;

              .mat-mdc-card-subtitle {
                margin-top: 12px;
              }
            }
          }
          .mat-mdc-card-content {
            .all-projects-table {
              .mat-mdc-paginator {
                padding: {
                  top: 10px;
                  left: 15px;
                  right: 15px;
                };
              }
            }
          }
        }
      }
    }
  }
  ::ng-deep {
    .add-new-project-popup {
      .popup-dialog {
        display: flex;
        min-width: 80%;

        .daxa-card {
          .mat-mdc-card-header {
            margin: {
              left: -15px;
              right: -15px;
            };
            padding: {
              left: 15px;
              right: 15px;
              bottom: 15px;
            };
            .mat-mdc-card-subtitle {
              .mat-mdc-button {
                font-size: 20px !important;
              }
            }
          }
          .mat-mdc-card-content {
            .main-label {
              font-size: 14px;
            }
            .mat-mdc-form-field {
              margin-bottom: 15px;
            }
            .btn-box {
              .mat-mdc-button {
                font-size: 14px !important;
              }
            }
          }
        }
      }
    }
  }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

  .mat-mdc-card {
    &.daxa-card {
      &.all-projects-card {
        .mat-mdc-card-content {
          margin: {
            left: -20px;
            right: -20px;
          };
        }
      }
    }
  }
  ::ng-deep {
    .mat-mdc-card {
      &.daxa-card {
        &.all-projects-card {
          .mat-mdc-card-content {
            .all-projects-table {
              .mat-mdc-paginator {
                padding: {
                  left: 20px;
                  right: 20px;
                };
              }
            }
          }
        }
      }
    }
  }
  ::ng-deep {
    .add-new-project-popup {
      .popup-dialog {
        display: flex;
        max-width: 90%;

        .daxa-card {
          .mat-mdc-card-header {
            margin: {
              left: -15px;
              right: -15px;
            };
            padding: {
              left: 15px;
              right: 15px;
              bottom: 15px;
            };
            .mat-mdc-card-subtitle {
              .mat-mdc-button {
                font-size: 20px !important;
              }
            }
          }
          .mat-mdc-card-content {
            .main-label {
              font-size: 14px;
            }
            .mat-mdc-form-field {
              margin-bottom: 15px;
            }
            .btn-box {
              .mat-mdc-button {
                font-size: 14px !important;
              }
            }
          }
        }
      }
    }
  }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}
