
<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
  <h5 class="mb-0">
    {{'pricing.pricing' | translate }}
  </h5>
  <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
    <li class="breadcrumb-item position-relative">
      <a routerLink="/" class="d-inline-block position-relative">
        <i class="ri-home-8-line"></i>
        {{'pricing.dashboard' | translate }}
      </a>
    </li>
    <li class="breadcrumb-item position-relative">
      {{'pricing.pricing2' | translate }}
    </li>
  </ol>
</div>

<!-- Pricing -->
<div class="row justify-content-center text-center">
  <div class="col-lg-4 col-xxxl-3 col-sm-6">
    <mat-card class="daxa-card pricing-card mb-25 border-radius p-0 bg-white border-none d-block">
      <mat-card-header class="border-top-radius">
        <mat-card-title>
          <h5 class="mt-0 mb-0">
            {{'pricing.free' | translate }}
          </h5>
          <span class="d-block">
               {{'pricing.fresh_start' | translate }}
  </span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="price lh-1 text-primary fw-medium">
          $00.00<span class="fw-normal text-body">/ {{'pricing.per_month' | translate }}</span>
        </div>
        <ul class="features-list mb-0 mt-0 list-unstyled">
          <li class="position-relative text-body">
            {{'pricing.free_Live_Support' | translate }}
            <i class="material-symbols-outlined">
              done
            </i>
          </li>
          <li class="position-relative text-body">
            {{'pricing.Access_to_essential_functionalities' | translate }}
            <i class="material-symbols-outlined">
              done
            </i>
          </li>
          <li class="position-relative text-body">
            {{'pricing.real_world_solution' | translate }}
            <i class="material-symbols-outlined">
              close
            </i>
          </li>
          <li class="position-relative text-body">
            {{'pricing.Limited_storage_space_for_user_data' | translate }}
            <i class="material-symbols-outlined">
              close
            </i>
          </li>
          <li class="position-relative text-body">
            {{'pricing.Response_within_a_specified_time' | translate }}
            <i class="material-symbols-outlined">
              close
            </i>
          </li>
          <li class="position-relative text-body">
            {{'pricing.free_setup' | translate }}
            <i class="material-symbols-outlined">
              close
            </i>
          </li>
        </ul>
        <button mat-button>
          {{'pricing.get_started_now' | translate }}
        </button>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-lg-4 col-xxxl-3 col-sm-6">
    <mat-card class="daxa-card pricing-card mb-25 border-radius p-0 bg-white border-none d-block">
      <mat-card-header class="border-top-radius">
        <mat-card-title>
          <h5 class="mt-0 mb-0">
            {{'pricing.Enterprise_Plan' | translate }}
          </h5>
          <span class="d-block">
            {{'pricing.A_Reimagined_process_for_everyone' | translate }}
                    </span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="price lh-1 text-primary fw-medium">
          $39.00<span class="fw-normal text-body">/ {{'pricing.per_month' | translate }}</span>
        </div>
        <ul class="features-list mb-0 mt-0 list-unstyled">
          <li class="position-relative text-body">
            {{'pricing.free_Live_Support' | translate }}
            <i class="material-symbols-outlined">
              done
            </i>
          </li>
          <li class="position-relative text-body">
            {{'pricing.Access_to_essential_functionalities' | translate }}
            <i class="material-symbols-outlined">
              done
            </i>
          </li>
          <li class="position-relative text-body">
            {{'pricing.real_world_solution' | translate }}
            <i class="material-symbols-outlined">
              done
            </i>
          </li>
          <li class="position-relative text-body">
            {{'pricing.Limited_storage_space_for_user_data' | translate }}
            <i class="material-symbols-outlined">
              done
            </i>
          </li>
          <li class="position-relative text-body">
            {{'pricing.Response_within_a_specified_time' | translate }}
            <i class="material-symbols-outlined">
              done
            </i>
          </li>
          <li class="position-relative text-body">
            {{'pricing.free_setup' | translate }}
            <i class="material-symbols-outlined">
              close
            </i>
          </li>
        </ul>
        <button mat-button>
          {{'pricing.get_started_now' | translate }}
        </button>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-lg-4 col-xxxl-3 col-sm-6">
    <mat-card class="daxa-card pricing-card mb-25 border-radius p-0 bg-white border-none d-block">
      <mat-card-header class="border-top-radius">
        <mat-card-title>
          <h5 class="mt-0 mb-0">
            {{'pricing.Business_Plan' | translate }}
          </h5>
          <span class="d-block">
                         {{'pricing.The_Definitive_Experience_of_Due_Diligence' | translate }}
                    </span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="price lh-1 text-primary fw-medium">
          $69.00<span class="fw-normal text-body">/ {{'pricing.per_month' | translate }}</span>
        </div>
        <ul class="features-list mb-0 mt-0 list-unstyled">
          <li class="position-relative text-body">
            {{'pricing.free_Live_Support' | translate }}
            <i class="material-symbols-outlined">
              done
            </i>
          </li>
          <li class="position-relative text-body">
            {{'pricing.Access_to_essential_functionalities' | translate }}
            <i class="material-symbols-outlined">
              done
            </i>
          </li>
          <li class="position-relative text-body">
            {{'pricing.real_world_solution' | translate }}
            <i class="material-symbols-outlined">
              done
            </i>
          </li>
          <li class="position-relative text-body">
            {{'pricing.Limited_storage_space_for_user_data' | translate }}
            <i class="material-symbols-outlined">
              done
            </i>
          </li>
          <li class="position-relative text-body">
            {{'pricing.Response_within_a_specified_time' | translate }}
            <i class="material-symbols-outlined">
              done
            </i>
          </li>
          <li class="position-relative text-body">
            {{'pricing.free_setup' | translate }}
            <i class="material-symbols-outlined">
              done
            </i>
          </li>
        </ul>
        <button mat-button>
          {{'pricing.get_started_now' | translate }}
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
