<mat-card
  class="daxa-card recent-files-card mb-25 border-radius bg-white border-none d-block"
  [class.rtl-enabled]="themeService.isRTLEnabled()"
>
  <mat-card-header>
    <mat-card-title>
      <h5 class="mt-0 mb-0">
        Documents
      </h5>
    </mat-card-title>
    <mat-card-subtitle>
      {{ role }}
    </mat-card-subtitle>
    <mat-card-subtitle *ngIf="agent.agentRole === 'SELL AGENT'">
      <a mat-button class="add-new-btn" (click)="goAddFiles()">
        + Add New File(s)
      </a>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="recent-files-table">
      <div class="table-responsive">
        <table mat-table [dataSource]="dataSource">

          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox
                (change)="$event ? toggleAllRows() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()"
                [aria-label]="checkboxLabel()"
              >
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)"
                [aria-label]="checkboxLabel(row)"
              >
              </mat-checkbox>
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>
              File
            </th>
            <td mat-cell *matCellDef="let element">
              <a [href]="element.file_url" target="_blank" class="folder-name position-relative fw-medium">
                <i class="material-symbols-outlined"
                   [ngStyle]="{'color': getDocumentColor(element.filename)}">
                  draft
                </i>
                {{element.filename}}
              </a>
            </td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>
              Action
            </th>
            <td mat-cell *matCellDef="let element">
              <div class="action-info">
                <button type="button" mat-button matTooltip="Download" matTooltipPosition="above">
                  <i class="material-symbols-outlined">
                    download
                  </i>
                </button>
                <button type="button" mat-button matTooltip="Rename" matTooltipPosition="above">
                  <i class="material-symbols-outlined">
                    edit
                  </i>
                </button>
                <button type="button" mat-button matTooltip="Remove" matTooltipPosition="above">
                  <i class="material-symbols-outlined">
                    delete
                  </i>
                </button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
      </div>
    </div>
  </mat-card-content>
</mat-card>
