<div class="logout-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div
                class="daxa-form ml-auto mr-auto border-radius bg-white"
                [class.card-borderd-theme]="themeService.isCardBorder()"
                [class.component-dark-theme]="themeService.isDark()"
            >
              <span class="spacer"></span>
              <span><app-language-switcher/></span>
              <span class="spacer"></span>
                <div class="title text-center">
                    <h3>
                      {{'authentication.welcome_to_diligence_tech' | translate }}
                    </h3>
                    <p class="ml-auto mr-auto">
                      {{'authentication.thank_you_for_using_our_application' | translate }}
                    </p>
                </div>
                <div class="admin text-center">
                    <div class="logo position-relative rounded-circle">
                        <img src="assets/images/logo.svg" alt="logo">
                    </div>
                    <span class="d-block fw-medium">
                        {{'authentication.your_are_logged_out' | translate }}
                    </span>
                </div>
                <a routerLink="/authentication" mat-button class="btn">
                  {{'authentication.sign_in' | translate }}
                </a>
            </div>
        </div>
    </div>
</div>
