<mat-card
    class="daxa-card profile-card mb-25 border-radius bg-white border-none d-block"
    [class.rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-header>
        <mat-card-title>
            <h5 class="mt-0 mb-0">
              {{'my_profile.profile_intro' | translate }}
            </h5>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content >
        <div class="user d-flex align-items-center">
            <div class="image">
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" class="rounded-circle" alt="profile-image">
            </div>
            <div class="title">
                <span class="d-block fw-medium" >
                    {{agent.fullName}}
                </span>
                <span class="d-block text-body">
                    {{agent.email}}
                </span>
            </div>
        </div>
        <span class="sub-title d-block fw-medium">
            {{'my_profile.about_me' | translate }}
        </span>
        <p>
            Molestie tincidunt ut consequat a urna tortor. Vitae velit ac nisl velit mauris placerat nisi placerat. Pellentesque viverra lorem malesuada nunc tristique sapien. Imperdiet sit hendrerit tincidunt bibendum donec adipiscing.
        </p>
    </mat-card-content>
</mat-card>
