<div
    class="privacy-policy-card"
    [class.rtl-enabled]="themeService.isRTLEnabled()"
>
    <h4>
      {{'settings.security' | translate }}
    </h4>
    <span class="title fw-medium d-block">
        {{'settings.two_factor_authentication' | translate }}
    </span>
    <p>
      {{'settings.two_factor_authentication_expl' | translate }}
    </p>
    <span class="title fw-medium d-block">
        {{'settings.Secondary_Verification' | translate }}
    </span>
    <p>
      {{'settings.Secondary_Verification_expl' | translate }}
    </p>
    <span class="title fw-medium d-block">
        {{'settings.Backup_Codes' | translate }}
    </span>
    <p>
      {{'settings.Backup_Codes_expl' | translate }}
    </p>
    <span class="title fw-medium d-block">
        {{'settings.Desktop,email,chat,purchase notifications' | translate }}
    </span>
    <p>
      {{'settings.Desktop,email,chat,purchase notifications_expl' | translate }}
    </p>
</div>
