<mat-card
    class="daxa-card sidebar-card mb-25 border-radius bg-white border-none d-block"
    [class.component-dark-theme]="themeService.isDark()"
    [class.rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-content>
        <form class="search-box position-relative">

        </form>
        <a routerLink="/communications/email/compose" class="btn" mat-button>
            Compose Email
        </a>
        <ul class="sidebar-list pl-0 list-unstyled">
            <li>
                <a routerLink="/communications/email/inbox" class="d-flex align-items-center justify-content-between position-relative" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <i class="material-symbols-outlined">
                        inbox
                    </i>
                    Inbox
                    <span class="d-block text-body">

                    </span>
                </a>
            </li>
            <li>
              <a routerLink="/communications/email/sent" class="d-flex align-items-center justify-content-between position-relative" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <i class="material-symbols-outlined">
                        send
                    </i>
                    Sent
                </a>
            </li>

        </ul>
    </mat-card-content>
</mat-card>
