<mat-card class="daxa-card profile-card mb-25 border-radius bg-white border-none d-block">
    <mat-card-header>
        <mat-card-title>
            <h5 class="mt-0 mb-0">
              {{'my_profile.profile_information' | translate }}
            </h5>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <ul class="info-list pr-0 pl-0 mb-0 mt-0 list-unstyled">
            <li>
                <span class="text-body">{{'my_profile.user_id' | translate }}</span> {{ agent.username }}
            </li>
            <li>
                <span class="text-body">{{'my_profile.full_name' | translate }}</span> {{ agent.fullName }}
            </li>
            <li>
                <span class="text-body">{{'my_profile.email' | translate }}</span> {{ agent.email }}
            </li>
            <li>
                <span class="text-body">{{'my_profile.location' | translate }}</span> -
            </li>
        </ul>
    </mat-card-content>
</mat-card>
