<!-- Create Project -->
<mat-card
    class="daxa-card create-project-card mb-25 border-radius bg-white border-none d-block"
    [class.rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-header>
        <mat-card-title>
            <h5 class="mt-0 mb-0">
                Create New Project
            </h5>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form (submit)="onSubmit()" #projectForm="ngForm">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-25">
                                <label class="main-label d-block lh-1 text-black">
                                    Project Name
                                </label>
                                <mat-form-field>
                                    <mat-label>
                                        Write project name
                                    </mat-label>
                                    <input matInput placeholder="E.g. Hotel management system" name="projectName" required [(ngModel)]="project.projectName">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-25">
                                <label class="main-label d-block lh-1 text-black">
                                    Project ID
                                </label>
                                <mat-form-field>
                                    <mat-label>
                                        Write project ID
                                    </mat-label>
                                    <input matInput type="number" name="id" placeholder="E.g. #951" required [(ngModel)]="project.id">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-25">
                                <label class="main-label d-block lh-1 text-black">
                                    Start Date
                                </label>
                                <mat-form-field>
                                    <mat-label>
                                        Choose a date
                                    </mat-label>
                                    <input matInput [matDatepicker]="startDate" name="startDate" required [(ngModel)]="project.startDate">
                                    <mat-datepicker-toggle matIconSuffix [for]="startDate"></mat-datepicker-toggle>
                                    <mat-datepicker #startDate></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-25">
                                <label class="main-label d-block lh-1 text-black">
                                    End Date
                                </label>
                                <mat-form-field>
                                    <mat-label>
                                        Choose a date
                                    </mat-label>
                                    <input matInput [matDatepicker]="endDate" name="endDate" required [(ngModel)]="project.endDate">
                                    <mat-datepicker-toggle matIconSuffix [for]="endDate"></mat-datepicker-toggle>
                                    <mat-datepicker #endDate></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="mb-25">
                                <label class="main-label d-block lh-1 text-black">
                                    Project Description
                                </label>
                                <div class="NgxEditor__Wrapper">
                                    <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
                                    <ngx-editor [editor]="editor" [placeholder]="'Type here...'" name="projectDescription" [(ngModel)]="project.projectDescription"></ngx-editor>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-25">
                                <label class="main-label d-block lh-1 text-black">
                                    Budget
                                </label>
                                <mat-form-field>
                                    <mat-label>
                                        Enter budget
                                    </mat-label>
                                    <input matInput placeholder="E.g. $5,250" name="budget" required [(ngModel)]="project.budget">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-25">
                                <label class="main-label d-block lh-1 text-black">
                                    Priority Status
                                </label>
                                <mat-form-field>
                                    <mat-label>
                                        Select
                                    </mat-label>
                                    <mat-select required name="status" [(ngModel)]="project.status">
                                        <mat-option value="{inProgress: 'In Progress'}">
                                            In Progress
                                        </mat-option>
                                        <mat-option value="{pending: 'Pending'}">
                                            Pending
                                        </mat-option>
                                        <mat-option value="{completed: 'Completed'}">
                                            Completed
                                        </mat-option>
                                        <mat-option value="{notStarted: 'Not Started'}">
                                            Not Started
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-25">
                                <label class="main-label d-block lh-1 text-black">
                                    Categories
                                </label>
                                <mat-form-field>
                                    <mat-label>
                                        Select
                                    </mat-label>
                                    <mat-select name="category" [(ngModel)]="project.projectCategory">
                                        <mat-option value="option1">
                                            Watch
                                        </mat-option>
                                        <mat-option value="option2">
                                            Electronics
                                        </mat-option>
                                        <mat-option value="option3">
                                            Sports
                                        </mat-option>
                                        <mat-option value="option4">
                                            Fashion
                                        </mat-option>
                                        <mat-option value="option5">
                                            Jewellery
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-25">
                                <label class="main-label d-block lh-1 text-black">
                                    Project Manager
                                </label>
                                <mat-form-field>
                                    <mat-label>
                                        Select
                                    </mat-label>
                                    <mat-select name="projectManager" required [(ngModel)]="project.projectManager">
                                        <mat-option value="Walter Frazier">
                                            Walter Frazier
                                        </mat-option>
                                        <mat-option value="Kimberly Anderson">
                                            Kimberly Anderson
                                        </mat-option>
                                        <mat-option value="Roscoe Guerrero">
                                            Roscoe Guerrero
                                        </mat-option>
                                        <mat-option value="Robert Stewart">
                                            Robert Stewart
                                        </mat-option>
                                        <mat-option value="Dustin Fritch">
                                            Dustin Fritch
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-25">
                                <label class="main-label d-block lh-1 text-black">
                                    Add Team Members
                                </label>
                                <mat-form-field>
                                    <mat-label>
                                        Select
                                    </mat-label>
                                    <mat-select multiple name="teamMembers" required [(ngModel)]="project.teamMembers">
                                        <mat-option value="Walter Frazier">
                                            Walter Frazier
                                        </mat-option>
                                        <mat-option value="Kimberly Anderson">
                                            Kimberly Anderson
                                        </mat-option>
                                        <mat-option value="Roscoe Guerrero">
                                            Roscoe Guerrero
                                        </mat-option>
                                        <mat-option value="Robert Stewart">
                                            Robert Stewart
                                        </mat-option>
                                        <mat-option value="Dustin Fritch">
                                            Dustin Fritch
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-25">
                                <label class="main-label d-block lh-1 text-black">
                                    Project Tags
                                </label>
                                <mat-form-field>
                                    <mat-label>
                                        Select
                                    </mat-label>
                                    <mat-select multiple name="projectTags" [(ngModel)]="project.projectTags">
                                        <mat-option value="option1">
                                            Low Priority
                                        </mat-option>
                                        <mat-option value="option2">
                                            Medium Priority
                                        </mat-option>
                                        <mat-option value="option3">
                                            High Priority
                                        </mat-option>
                                        <mat-option value="option4">
                                            Growth Potential
                                        </mat-option>
                                        <mat-option value="option5">
                                            Startup
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mb-25">
                        <label class="main-label d-block lh-1 text-black">
                            Project Preview Image
                        </label>
                        <file-upload class="file-uploader" name="previewImage" [multiple]="multiple"></file-upload>
                    </div>
                    <div class="mb-25">
                        <label class="main-label d-block lh-1 text-black">
                            Attached Files
                        </label>
                        <file-upload class="file-uploader" name="attachedFiles" [multiple]="multiple"></file-upload>
                    </div>
                </div>
            </div>
            <div class="btn-box">
                <button mat-button (click)="onCancel()">
                    Cancel
                </button>
                <button mat-button>
                    + Create Project
                </button>
                <!-- <button mat-button (click)="onCancel()"> -->
                <!--     Cancel -->
                <!-- </button> -->
            </div>
        </form>
    </mat-card-content>
</mat-card>
