<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
  <h5 class="mb-0">
    Compose
  </h5>
  <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
    <li class="breadcrumb-item position-relative">
      <a routerLink="/" class="d-inline-block position-relative">
        <i class="ri-home-8-line"></i>
        Dashboard
      </a>
    </li>
    <li class="breadcrumb-item position-relative">
      Communication
    </li>
    <li class="breadcrumb-item position-relative">
      Email
    </li>
    <li class="breadcrumb-item position-relative">
      Compose
    </li>
  </ol>
</div>

<!-- Compose -->
<div class="row">
  <div class="col-lg-3 col-md-12">
    <app-sidebar-email></app-sidebar-email>
  </div>
  <div class="col-lg-9 col-md-12">
    <mat-card class="daxa-card email-compose-card mb-25 border-radius bg-white border-none d-block"
              [class.rtl-enabled]="themeService.isRTLEnabled()">
      <mat-card-header>
        <mat-card-title>
          <h5 class="mt-0 mb-0">
            Email Composition
          </h5>
        </mat-card-title>

      </mat-card-header>
      <mat-card-content>
        <form>
          <div class="row">
            <div class="col-md-6">
              <div class="mb-25">
                <label class="main-label d-block lh-1 text-black">To</label>
                <mat-form-field>
                  <input matInput placeholder="To" name="sentReceiverEmail" required [(ngModel)]="sentReceiverEmail">
                </mat-form-field>
              </div>
            </div>
            <!--
            <div class="col-md-6">
              <div class="mb-25">
                <label class="main-label d-block lh-1 text-black">Cc</label>
                <mat-form-field>
                 <input matInput placeholder="Cc">
                </mat-form-field>
              </div>
            </div>
            -->
            <!---<div class="col-md-6">
              <div class="mb-25">
                <label class="main-label d-block lh-1 text-black">Bcc</label>
                <mat-form-field>
                  <input matInput placeholder="Bcc">
                </mat-form-field>
              </div>
            </div>---->
            <div class="col-md-6">
              <div class="mb-25">
                <label class="main-label d-block lh-1 text-black">Subject</label>
                <mat-form-field>
                  <input matInput placeholder="Write your subject here" name="sentTitle" required [(ngModel)]="sentTitle">
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-12">
              <div class="mb-25">
                <label class="main-label d-block lh-1 text-black">Your Email</label>
                <mat-form-field>
                  <input matInput placeholder="Type here..." name="sentMessage" required [(ngModel)]="sentMessage">
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="btn-box d-flex align-items-center">
            <button mat-button class="btn" (click)="sendEmail()">Send</button>

          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
