<div
    class="account-settings-card"
    [class.rtl-enabled]="themeService.isRTLEnabled()"
>
    <h4>
      {{'settings.settings' | translate }}
    </h4>
    <p>
      {{'settings.update_info' | translate }}
    </p>
    <div class="row">
        <div class="col-sm-6">
            <div class="mb-25">
                <label class="main-label d-block lh-1 text-black">
                  {{'settings.first_name' | translate }}
                </label>
                <mat-form-field>
                    <mat-label>
                      {{'settings.first_name' | translate }}
                    </mat-label>
                    <input matInput value="Mateo">
                </mat-form-field>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="mb-25">
                <label class="main-label d-block lh-1 text-black">
                  {{'settings.last_name' | translate }}
                </label>
                <mat-form-field>
                    <mat-label>
                      {{'settings.last_name' | translate }}
                    </mat-label>
                    <input matInput value="Luca">
                </mat-form-field>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="mb-25">
                <label class="main-label d-block lh-1 text-black">
                  {{'settings.email_address' | translate }}
                </label>
                <mat-form-field>
                    <mat-label>
                      {{'settings.email_address' | translate }}
                    </mat-label>
                    <input matInput value="mateo@diligencetech.com">
                </mat-form-field>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="mb-25">
                <label class="main-label d-block lh-1 text-black">
                  {{'settings.phone_number' | translate }}
                </label>
                <mat-form-field>
                    <mat-label>
                      {{'settings.phone_number' | translate }}
                    </mat-label>
                    <input matInput value="+(555) 555-1234">
                </mat-form-field>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="mb-25">
                <label class="main-label d-block lh-1 text-black">
                  {{'settings.location' | translate }}
                </label>
                <mat-form-field>
                    <mat-label>
                      {{'settings.location' | translate }}
                    </mat-label>
                    <input matInput value="Zuichi, Switzerland">
                </mat-form-field>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="mb-25">
                <label class="main-label d-block lh-1 text-black">
                  {{'settings.street_address' | translate }}
                </label>
                <mat-form-field>
                    <mat-label>
                      {{'settings.street_address' | translate }}
                    </mat-label>
                    <input matInput value="2445 Crosswind Drive">
                </mat-form-field>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="mb-25">
                <label class="main-label d-block lh-1 text-black">
                  {{'settings.date_of_birth' | translate }}
                </label>
                <mat-form-field>
                    <mat-label>
                      {{'settings.date_of_birth' | translate }}
                    </mat-label>
                    <input matInput value="20 March 1999">
                </mat-form-field>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="mb-25">
                <label class="main-label d-block lh-1 text-black">
                  {{'settings.gender' | translate }}
                </label>
                <mat-form-field>
                    <mat-label>
                      {{'settings.select' | translate }}

                    </mat-label>
                    <mat-select [(value)]="genderSelected">
                        <mat-option value="option1">
                          {{'settings.male' | translate }}

                        </mat-option>
                        <mat-option value="option2">
                          {{'settings.female' | translate }}
                        </mat-option>
                        <mat-option value="option3">
                          {{'settings.custom' | translate }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="mb-25">
                <label class="main-label d-block lh-1 text-black">
                  {{'settings.add_your_bio' | translate }}
                </label>
                <mat-form-field class="textarea">
                    <mat-label>
                      {{'settings.write_here' | translate }}
                    </mat-label>
                    <textarea matInput placeholder="E.g. It makes me feel..."></textarea>
                </mat-form-field>
            </div>
        </div>
    </div>
    <h4>
      {{'settings.your_photo' | translate }}
    </h4>
    <p>
      {{'settings.photo_description' | translate }}
    </p>
    <div class="mb-25">
        <file-upload class="file-uploader" [multiple]="multiple"></file-upload>
    </div>
    <h4>
      {{'settings.socials_profile' | translate }}
    </h4>
    <p></p>
    <div class="row">
        <div class="col-sm-6 col-lg-4">
            <div class="mb-25">
                <label class="main-label d-block lh-1 text-black">
                    Facebook
                </label>
                <mat-form-field>
                    <mat-label>
                        Facebook
                    </mat-label>
                    <input matInput value="https://www.facebook.com/">
                </mat-form-field>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="mb-25">
                <label class="main-label d-block lh-1 text-black">
                    Twitter
                </label>
                <mat-form-field>
                    <mat-label>
                        Twitter
                    </mat-label>
                    <input matInput value="https://twitter.com/">
                </mat-form-field>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="mb-25">
                <label class="main-label d-block lh-1 text-black">
                    Linkedin
                </label>
                <mat-form-field>
                    <mat-label>
                        Linkedin
                    </mat-label>
                    <input matInput value="https://www.instagram.com/">
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="btn-box">
        <button mat-button>
          {{'settings.update_profile' | translate }}
        </button>
        <button mat-button>
          {{'settings.cancel' | translate }}
        </button>
    </div>
</div>
